@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

#interaction-container {
    width: 1000px;
}

.learn {
    margin-top: -20px;
}

#top-checks {
    text-align: center;
    margin-left: 220px;
    width: 100%;
    padding-bottom: 200px;
}

.each-check {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
}

#back-pick {
    margin-left: 140px;
}
#text-pick {
    margin-right: 150px;
}

.pickers {
    float: left;
    margin-left: 30px;
    margin-right: 30px; 
    margin-bottom: 50px;
}

.pickers img {
    float: left;
    padding-right: 20px;
}

.pickers p {
    background-color: #ffffff;
    border: 3px solid #000000;
    font-size: 34px;
    width: 250px;
    height: auto;
    padding: 5px;
    float: left;
    margin-top: -10px;
}

#back-color, #text-color {
    width: 50px;
    height: 50px;
    float: right;
    background-color: #ffffff;
    border-color: #ffffff;
}


#quote {
    font-size: 48px;
    color: #000000;
    font-family: 'Gayathri', sans-serif;
    float: left;
    width: 850px;
}

#quote-mark {
    font-size: 250px;
    float: left;
    margin-right: 50px;
    margin-top: -40px;
}

/* For smaller desktop sizes */
@media only screen and (max-width: 1550px) {
    #quote {
        font-size: 44px;
    }
    #quote-mark {
        font-size: 200px;
        margin-top: -40px;
        margin-left: 40px;
        margin-left: 20px;
    }
    
}

@media only screen and (max-width: 1280px) {
    #quote {
        font-size: 36px;
        width: 700px;
    }
    #quote-mark {
        font-size: 170px;
        margin-top: -40px;
        margin-left: 110px;
    }
}

@media only screen and (max-width: 880px) {
    
    #interaction-container {
    width: 880px;
}

#top-checks {
    text-align: center;
    margin-left: 15%;
    width: 800px;
    padding-bottom: 200px;
}

.each-check {
    float: left;
    padding-left: 25px;
    padding-right: 25px;
}

#back-pick {
    margin-left: 100px;
}
#text-pick {
    margin-right: 150px;
}

.pickers {
    float: left;
    margin-left: 0px;
    margin-right: 50px; 
    margin-bottom: 100px;
}

.pickers img {
    float: left;
    padding-right: 20px;
}

.pickers p {
    background-color: #ffffff;
    border: 3px solid #000000;
    font-size: 26px;
    width: 200px;
    height: auto;
    padding: 5px;
    float: left;
    margin-top: -10px;
}

#back-color, #text-color {
    width: 40px;
    height: 40px;
    float: right;
    background-color: #ffffff;
    border-color: #ffffff;
}
    #quote {
        font-size: 36px;
        width: 600px;
    }
    #quote-mark {
        font-size: 170px;
        margin-top: -40px;
        margin-left: 60px;
    }
    
    .learn {
        margin-bottom: 18%;
    }
}

@media only screen and (max-width: 420px) {
    #interaction-container {
    width: 340px;
        height: 500px;
}

#top-checks {
    text-align: center;
    margin-left: 0%;
    width: 340px;
    padding-bottom: 130px;
}

.each-check {
    float: left;
    padding-left: 11px;
    padding-right: 11px;
}
    
.each-check img {
        width: 40px;
    }
    
    .each-check p {
        
    font-size: 12px;
    }

#back-pick {
    margin-left: 45px;
}
#text-pick {
    margin-right: 0px;
    margin-bottom: 70px;
}

.pickers {
    float: left;
    margin-left: 45px;
    margin-right: 0px; 
    margin-bottom: 20px;
}

.pickers img {
    float: left;
    padding-right: 20px;
    width: 50px;
}

.pickers p {
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 20px;
    width: 200px;
    height: auto;
    padding: 5px;
    float: left;
    margin-top: -10px;
}

#back-color, #text-color {
    width: 30px;
    height: 30px;
    float: right;
    background-color: #ffffff;
    border-color: #ffffff;
}
    #quote {
        font-size: 20px;
        width: 250px;
        padding-left: -40px;
        margin-left: 0px;
    }
    #quote-mark {
        font-size: 100px;
        margin-top: 0px;
        margin-left: 20px;
        width: 0px;
    }
    
    .learn {
        margin-bottom: 18%;
    }
}

@media only screen and (max-width: 380px) {
    #interaction-container {
    width: 340px;
        height: 500px;
}

#top-checks {
    text-align: center;
    margin-left: 0%;
    width: 340px;
    padding-bottom: 130px;
}

.each-check {
    float: left;
    padding-left: 11px;
    padding-right: 11px;
}
    
.each-check img {
        width: 40px;
    }
    
    .each-check p {
        
    font-size: 12px;
    }

#back-pick {
    margin-left: 45px;
}
#text-pick {
    margin-right: 0px;
    margin-bottom: 70px;
}

.pickers {
    float: left;
    margin-left: 45px;
    margin-right: 0px; 
    margin-bottom: 20px;
}

.pickers img {
    float: left;
    padding-right: 20px;
    width: 50px;
}

.pickers p {
    background-color: #ffffff;
    border: 2px solid #000000;
    font-size: 20px;
    width: 200px;
    height: auto;
    padding: 5px;
    float: left;
    margin-top: -10px;
}

#back-color, #text-color {
    width: 30px;
    height: 30px;
    float: right;
    background-color: #ffffff;
    border-color: #ffffff;
}
    #quote {
        font-size: 20px;
        width: 250px;
        padding-left: -40px;
        margin-left: 0px;
    }
    #quote-mark {
        font-size: 100px;
        margin-top: 0px;
        margin-left: 20px;
        width: 0px;
    }
    
    .learn {
        margin-bottom: 18%;
    }
}