#interaction-container{
    position: relative;
    max-width: 740px;
    height: 700px;
}

#matterCanvas{
    pointer-events: auto;
    z-index: -1;
    width: 740px;
    height: 600px;
    border: 2px solid gray;
}

.htmlBlock{
    padding:0;
    margin:0;
    border:0;
    position:relative;
    top:0;
    left:0;

    background-color:yellow;
    z-index: -2;
}

#htmlBlock2{
    font-family: sans-serif;
    font-weight: 500;
    font-size:28px;
    width:150px;
    height:60px;
}

#htmlBlock{
    font-family: sans-serif;
    font-weight: 600;
    font-size:48px;
    width:200px;
    height:100px;
}

#buttonHolder{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-bottom:32px;
}

.button{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 8px;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 5px;
    margin: 0px 12px;
}

.button:hover{
    opacity: 60%;
}

.active{
    background-color: rgba(55,55,55,0.2);
}

#leftArr{
    background-image: url("../assets/visual/left.png");
    
}

#rightArr{
    background-image: url("../assets/visual/right.png");

}

#upArr{
    background-image: url("../assets/visual/top.png");

}

#downArr{
    background-image: url("../assets/visual/bot.png");

}

#centerButton{
    background-image: url("../assets/visual/bot.png");
}

.learn {
    margin-top: -20px;
}

@media only screen and (max-width: 880px) {
    #interaction-container {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 420px) {
    #interaction-container {
        margin-top: 50px;
        width: 340px;
    }
}

@media only screen and (max-width: 380px) {
    #interaction-container {
        margin-top: 50px;
        width: 340px;
    }
}