#interaction-container {
    position: relative;
    margin: auto;
    max-width: 740px;
    height: 660px;
}

#matterCanvas {
    z-index: 1000;
    pointer-events: auto;
    z-index: -1;
    width: 740px;
    height: 572px;
}

.htmlBlock {
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    top: 0;
    left: 0;
    background-color: yellow;
    opacity: 80%;
    z-index: -2;

}

#htmlBlock2 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 28px;
    width: 100px;
    height: 100px;
}

#htmlBlock {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


#bg-photo {
    position: absolute;
    top: 128px;
    left: 25%;
    z-index: -9;
    width: 50%;
    height: auto;
    pointer-events: none;
}

#dropdownHolder {
    width: 100%;
    display: flex;
    justify-content: center;
}

#blendDropdown {
    position: relative;
    display: inline-block;
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.dropdownContent {
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 1450px) and (min-width: 1350px) {
    .learn {
        margin-top: -10%;
    }
}

@media only screen and (max-width: 880px) {
    #interaction-container {
        margin-top: 35%;
    }
}

@media only screen and (max-width: 420px) {
    #interaction-container {
        margin-top: 28%;
        margin-left: -182px;
        height: 450px;
    }
    .learn {
        padding-top: 20%;
    }
}


@media only screen and (max-width: 380px) {
    #interaction-container {
        margin-top: 35%;
        margin-left: -202px;
        height: 430px;
    }
    .learn {
        padding-top: 20%;
    }
}
