#p5canvas{
    width:600px;
    height:600px;
    margin:auto;
}

#buttonHolder{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    margin-top:48px;
    margin-bottom: 48px;
}

.button{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 16px;
    /* background-color:yellow; */
    width: 108;
    height: 24px;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 5px;
    font-size: 16px;
    font-family: "poppins" sans-serif;
    font-weight: 600;
}

.button:hover{
    opacity: 60%;
    background-color: lightgray;
}

.active{
    background-color: rgba(55,55,55,0.2);
}

.learn {
    padding-top: 5%;
}

@media only screen and (max-width: 1450px) and (min-width: 1350px) {
    #interaction-container {
        margin-top: -100px;
    }
    .learn {
        padding-top: 220px;
    }
}

@media only screen and (max-width: 880px) {
    #interaction-container {
        margin-top: 18%;
        margin-bottom: 18%;
    }
}

@media only screen and (max-width: 420px) {
    #interaction-container {
        margin-top: 18%;
        margin-bottom: 400px;
    }
}

@media only screen and (max-width: 380px) {
    #interaction-container {
        margin-top: 18%;
        margin-bottom: 400px;
    }
}