@font-face {
    font-family: "Poppins-Regular";
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(fonts/Poppins-Medium.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins-Regular';
    margin: 50px;
    background-color: white;
}

#menu {
    display: none;
}

.btn {
    font-family: 'Poppins-SemiBold';
}

h1 {
    font-size: 32px;
    letter-spacing: 18px;
    font-family: 'Poppins-Regular';
    font-weight: normal;
}

h1 a {
    text-decoration: none;
    color: #000000;
}

h2 {
    font-size: 50px;
    font-family: 'Poppins-SemiBold';
    font-weight: normal;
}

h3 {
    font-family: 'Poppins-Medium';
    padding-top: 70px;
    font-size: 26px;
    font-weight: normal;
}

#myNav {
    display: none;
}

p {
    font-size: 18px;
    color: #525252;
}

.nav a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

#resources {
    position: absolute;
    writing-mode: vertical-rl;
    top: 450px;
    z-index: 5;
}

#makers {
    position: absolute;
    writing-mode: vertical-rl;
    top: 450px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    letter-spacing: 6px;
}

#elements-container {
    width: 1300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#elements-container img {
    width: 260px;
    height: 260px;
    float: left;
}


#resources {
    right: 2.3rem;
    letter-spacing: 6px;
}

.inactive {
    opacity: 0.5;
}

#main-container {
    width: 700px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.learn {
    color: #767272;
    text-align: center;
    z-index: 50;
}

#arrow {
    padding-top: 15px;
}

#interaction-container {
    height: 740px;
    width: 740px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.interactions {
    height: 740px;
    width: 740px;
}

.resource-modal {
    width 650px;
    height: 200px;
    border-radius: 12px;
    border: 1px solid #ACACAC;
    margin-bottom: 30px;
}

.resource-img {
    height: 115px;
    background-color: green;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.resource-text {
    padding-left: 25px;
    line-height: 10px;
    padding-top: 5px;
}

.resource-modal a {
    text-decoration: none;
}

.resource-text .title {
    font-family: 'Poppins-SemiBold';
    color: #000000;
    font-size: 18px;
}

.resource-text .link {
    font-size: 12px;
    color: #4B8AE0;
    text-decoration: underline;
}

#home {
    text-align: center;
    padding-top: 80px;
}

#home a {
    text-decoration: none;
    color: #767272;
}



/* MEDIA QUERIES */
/* smaller desktop */
@media only screen and (max-width: 1550px) {
    body {
        margin: 30px;
    }

    #menu {
        display: none;
    }

    h1 {
        font-size: 24px;
        letter-spacing: 16px;
    }

    h2 {
        font-size: 40px;
        font-family: 'Poppins-SemiBold';
    }

    p {
        font-size: 18px;
    }

    .nav a {
        font-size: 18px;
    }

    #resources {
        top: 360px;
    }

    #makers {
        top: 360px;
    }

    #elements-container {
        width: 1100px;
        margin-top: -20px;
    }

    #elements-container img {
        width: 220px;
        height: 220px;
    }
    /* INTERACTIONS */
    #main-container {
        width: 700px;
        height: auto;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    .learn {
        color: #767272;
        text-align: center;
    }

    #arrow {
        padding-top: 15px;
    }

    #interaction-container {
        height: 550px;
        width: 740px;
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .interactions {
        height: 550px;
        width: 740px;
    }
}

/*end of smaller desktop styles */

@media only screen and (max-width: 1450px) {
    body {
        margin: 30px;
    }

    h1 {
        font-size: 24px;
        letter-spacing: 12px;
    }

    h2 {
        font-size: 40px;
        font-family: 'Poppins-SemiBold';
    }

    p {
        font-size: 18px;
    }

    .nav a {
        font-size: 18px;
    }

    #resources {
        top: 310px;
    }

    #makers {
        top: 310px;
    }

    #elements-container {
        width: 1200px;
        margin-top: 20px;
    }

    #elements-container img {
        width: 185px;
        height: 185px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

/* smaller desktop */
@media only screen and (max-width: 1280px) {
    body {
        margin: 30px;
    }

    h1 {
        font-size: 24px;
        letter-spacing: 16px;
    }

    h2 {
        font-size: 40px;
        font-family: 'Poppins-SemiBold';
    }

    p {
        font-size: 18px;
    }

    .nav a {
        font-size: 18px;
    }

    #resources {
        top: 340px;
    }

    #makers {
        top: 340px;
    }

    #elements-container {
        width: 875px;
        margin-top: 40px;
    }

    #elements-container img {
        width: 175px;
        height: 175px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 880px) {
    body {
        margin: 30px;
    }
    
    #myNav {
        z-index: 100;
    }

    .nav {
        display: none;
    }


    h1 {
        font-size: 24px;
        letter-spacing: 16px;
    }

    h2 {
        font-size: 40px;
        font-family: 'Poppins-SemiBold';
    }

    p {
        font-size: 18px;
    }

    #elements-container {
        width: 900px;
    }

    #elements-container img {
        width: 220px;
        height: 220px;
    }

    /* Create three equal columns that floats next to each other */
    .element-column {
        float: left;
        width: 33%;
        padding: 15px;
        height: 330px;
        text-align: center;
    }

    .element-row {
        margin-left: 8%;
    }

    /* Clear floats after the columns */
    .element-row:after {
        content: "";
        display: table;
        clear: both;
    }

    #menu {
        display: block;
        position: absolute;
        right: 5%;
        margin-top: -40px;
        cursor: pointer;
    }
    
    #myNav {
    display: block;
}

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.3s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 50px;
        color: #000000;
        display: block;
        transition: 0.3s;
        margin-left: -80px;
    }


    /* INTERACTIONS */

    .learn {
        color: #767272;
        text-align: center;
        margin-bottom: 6%;
    }

    #arrow {
        padding-top: 15px;
    }

    #interaction-container {
        height: 550px;
        width: 740px;
        margin-top: 20%;
        margin-bottom: 27%;
    }

    .interactions {
        height: 550px;
        width: 740px;
    }
    
    #main-container {
    width: 620px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}
}

@media only screen and (max-width: 800px) {
    .element-row {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 750px) {
    .element-row {
        margin-left: 2%;
    }
}

@media only screen and (max-width: 750px) {
    .element-row {
        margin-left: 0;
    }
}

@media only screen and (max-width: 420px) {
    body {
        margin: 20px;
    }
    
    #myNav {
        z-index: 100;
    }

    .nav {
        display: none;
    }

    h1 {
        font-size: 16px;
        letter-spacing: 4px;
    }

    h2 {
        font-size: 34px;
        font-family: 'Poppins-SemiBold';
    }
    
    h3 {
        font-size: 24px;
        font-family: 'Poppins-Regular';
    }

    p {
        font-size: 16px;
    }

    #elements-container {
        width: 390px;
    }

    #elements-container img {
        width: 185px;
        height: 185px;
    }

    .element-column {
        float: left;
        width: 100%;
        padding: 15px;
        height: 150px;
    }

    .element-row {
        margin-left: 0;
    }

    .element-row:after {
        content: "";
        display: table;
        clear: none;
    }

    #menu {
        display: block;
        position: absolute;
        right: 5%;
        margin-top: -30px;
        cursor: pointer;
        width: 10px;
    }
    
    #main-container {
    width: 320px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}
    .resource-modal {
    width 320px;
    height: 150px;
    border-radius: 12px;
    border: 1px solid #ACACAC;
    margin-bottom: 30px;
}

.resource-img {
    height: 80px;
    background-color: green;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.resource-text {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 12px;
    padding-top: 0px;
}

.resource-modal a {
    text-decoration: none;
}

.resource-text .title {
    font-family: 'Poppins-SemiBold';
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    margin-bottom: 0;
}

.resource-text .link {
    font-size: 10px;
    color: #4B8AE0;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    margin-top: 4px;
}
    
    #myNav {
    display: block;
}

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.3s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 24px;
        color: #000000;
        display: block;
        transition: 0.3s;
        margin-left: -12%;
    }
    
    #home {
    text-align: center;
    padding-top: 40px;
}
}

@media only screen and (max-width: 380px) {
    body {
        margin: 20px;
    }
    
    #myNav {
        z-index: 100;
    }

    .nav {
        display: none;
    }

    h1 {
        font-size: 16px;
        letter-spacing: 4px;
    }

    h2 {
        font-size: 34px;
        font-family: 'Poppins-SemiBold';
    }
    
    h3 {
        font-size: 24px;
        font-family: 'Poppins-Regular';
    }

    p {
        font-size: 16px;
    }

    #elements-container {
        width: 360px;
    }

    #elements-container img {
        width: 170px;
        height: 170px;
    }

    /* Create three equal columns that floats next to each other */
    .element-column {
        float: left;
        width: 100%;
        padding: 15px;
        height: 150px;
    }

    .element-row {
        margin-left: 0;
    }

    /* Clear floats after the columns */
    .element-row:after {
        content: "";
        display: table;
        clear: none;
    }

    #menu {
        display: block;
        position: absolute;
        right: 5%;
        margin-top: -30px;
        cursor: pointer;
        width: 10px;
    }
    
    #main-container {
    width: 320px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}
    .resource-modal {
    width 320px;
    height: 150px;
    border-radius: 12px;
    border: 1px solid #ACACAC;
    margin-bottom: 30px;
}

.resource-img {
    height: 80px;
    background-color: green;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.resource-text {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 12px;
    padding-top: 0px;
}

.resource-modal a {
    text-decoration: none;
}

.resource-text .title {
    font-family: 'Poppins-SemiBold';
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    margin-bottom: 0;
}

.resource-text .link {
    font-size: 10px;
    color: #4B8AE0;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    margin-top: 4px;
}
    
    #myNav {
    display: block;
}

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.3s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 24px;
        color: #000000;
        display: block;
        transition: 0.3s;
        margin-left: -15%;
    }
    
    #home {
    text-align: center;
    padding-top: 40px;
}
}
