#blue, #pink {
    height: 650px;
    position: absolute;
}

h1 {
        z-index: 100;
    }

#pink {
    z-index: 5;
}

#blue {
    z-index: 6;
}

#canvas {
    z-index: 8;
    /*background-color: green;*/
    position: absolute;
}

#masking-container {
    margin-left: 50px;
}

/* For smaller desktop sizes */
@media only screen and (max-width: 1550px) {
    .learn {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 420px) {
    #interaction-container {
        margin-left: -185px;
        margin-top: 0px;
    }
    .learn {
        padding-top: 0px;
    }
}

@media only screen and (max-width: 380px) {
    #interaction-container {
        margin-left: -200px;
    }
    .learn {
        padding-top: 30px;
    }
}