@font-face {
    font-family: "Poppins-Regular";
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(fonts/Poppins-SemiBold.ttf) format("truetype");
}

#interaction-container {
    width: 1000px;
}

button {
    border: none;
    background-color: #eee;
    cursor: pointer;
}

.btn {
    font-family: "Poppins-SemiBold", sans-serif;
    border-radius: 20px;
    border: 2px solid #D9DBE9;
    background-color: #ffffff;
    color: #000000;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 40px auto 0 auto;
}

.btn:active {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
}

.palette {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 200px;
    float: left;
    margin-right: 70px;
    margin-left: 50px;
}

.palette .color {
    width: 100px;
    height: 260px;
    background-color: #eee;
    border-radius: 80px;
    cursor: pointer;
}

.palette .color:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.palette .color:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.palette .color + .color {
    margin-left: 30px;
}

.palette .color p {
    text-align: center;
    padding-top: 280px;
    color: #737373;
    font-size: 16px;
}

/* radio buttons */

#opts {
    float: left;
    margin-top: 200px;
}

#opts label {
    font-size: 18px;
    color: #6E7191;
}

#opts p {
    line-height: 20px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #6E7191;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #D9DBE9;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #272197;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* FOR MEDIA QUERIES */
@media only screen and (max-width: 1550px) {
    .palette {
        margin-top: 150px;
    }

    #opts {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 880px) {
    #interaction-container {
    width: 800px;
}
    .palette {
    margin-top: 0px;
    margin-right: 10%;
    margin-left: 10%;
}

    #opts {
        margin-left: 37%;
    }
    
    .learn {
        padding-top: 5%;
    }

}

@media only screen and (max-width: 380px) {
    #interaction-container {
    width: 340px;
        height: 500px;
}
    .palette {
    margin-top: 0px;
    margin-right: 0%;
    margin-left: 0%;
}

.palette .color {
    width: 60px;
    height: 160px;
    background-color: #eee;
    border-radius: 80px;
    cursor: pointer;
}
    .palette .color + .color {
    margin-left: 9px;
}

.palette .color p {
    text-align: center;
    padding-top: 180px;
    color: #737373;
    font-size: 12px;
}
    
    #opts {
    float: left;
    margin-top: 100px;
    margin-left: 90px;
}

#opts label {
    font-size: 14px;
    color: #6E7191;
}

#opts p {
    line-height: 20px;
}
    .btn {
    border-radius: 16px;
    width: 160px;
    height: 40px;
    font-size: 14px;
    margin: 30px auto 0 auto;
}
    .learn {
        padding-top: 0%;
    }
}
