#main-model {
    width: 650px;
    height: 650px;
    float: left;
}

#interaction-container {
    width: 1250px;
}

.texture-choices {
    float: left;
    width: 175px;
    height: 200px;
    background-color: #FAFAFA;
    border-radius: 12px;
    margin: 10px;
    border: 4px solid #ffffff;
}

.texture-choices img {
    width: 160px;
}

.texture-choices p {
    margin-top: -10px;
    text-align: center;
    font-size: 18px;
}

.texture-choices:hover {
    background-color: #E5E5E5;
}

/* For smaller desktops */
@media only screen and (max-width: 1550px) {
    .texture-choices {
        width: 150px;
        height: 175px;
    }
    .texture-choices img {
        width: 140px;
    }
    .texture-choices p {
        font-size: 16px;
        margin-top: -14px;
    }
}

@media only screen and (max-width: 1450px) and (min-width: 1350px) {
    #interaction-container {
        margin-top: -60px;
    }
}

@media only screen and (max-width: 1280px) {
    #interaction-container {
    width: 1100px;
}
    #main-model {
    width: 550px;
    height: 550px;
    float: left;
}
    .texture-choices {
        width: 130px;
        height: 160px;
    }
    .texture-choices img {
        width: 115px;
    }
    .texture-choices p {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 880px) {
    #interaction-container {
    width: 800px;
}
    #main-model {
    width: 550px;
    height: 550px;
    float: left;
        margin-left: -100px;
        margin-right: -50px;
}
    .texture-choices {
        width: 100px;
        height: 130px;
    }
    .texture-choices img {
        width: 90px;
    }
    .texture-choices p {
        margin-top: -10px;
        font-size: 14px;
    }
    #metal, #glass, #green-tea {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 420px) {
    #interaction-container {
    width: 340px;
    }
    
    #main-model {
    width: 340px;
    height: 340px;
    float: left;
    margin-top: -80px;
    margin-left: 0px;
    }
    
    #metal, #glass, #green-tea, #carpaint, #vegetation {
        margin-top: 0px;
    }
    
    .texture-choices {
        width: 100px;
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #concrete {
        margin-left: 5px;
        margin-top: 0px;
    }
    
    #wool, #wood, #marble {
        margin-top: 0px;
    }
    
    .texture-choices img {
        width: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .texture-choices p {
        margin-top: -5px;
        font-size: 12px;
    }
    
    .learn {
        padding-top: 70px;
    }
}

@media only screen and (max-width: 380px) {
    #interaction-container {
    width: 340px;
    }
    
    #main-model {
    width: 340px;
    height: 340px;
    float: left;
    margin-top: -80px;
    margin-left: 0px;
    }
    
    #metal, #glass, #green-tea, #carpaint, #vegetation {
        margin-top: 0px;
    }
    
    .texture-choices {
        width: 100px;
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #concrete {
        margin-left: 5px;
        margin-top: 0px;
    }
    
    #wool, #wood, #marble {
        margin-top: 0px;
    }
    
    .texture-choices img {
        width: 60px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .texture-choices p {
        margin-top: -5px;
        font-size: 12px;
    }
    
    .learn {
        padding-top: 70px;
    }
}