#main-model {
    width: 650px;
    height: 650px;
    float: left;
}

#interaction-container {
    width: 1250px;
}

.texture-choices {
    float: left;
    width: 175px;
    height: 200px;
    background-color: #FAFAFA;
    border-radius: 12px;
    margin: 10px;
    border: 4px solid #ffffff;
}

.texture-choices img {
    width: 160px;
}

.texture-choices p {
    margin-top: -10px;
    text-align: center;
    font-size: 18px;
}

.texture-choices:hover {
    background-color: #E5E5E5;
}

/* For smaller desktops */
@media only screen and (max-width: 1550px) {
    .texture-choices {
        width: 150px;
        height: 175px;
    }
    .texture-choices img {
        width: 140px;
    }
    .texture-choices p {
        font-size: 16px;
        margin-top: -14px;
    }
}

@media only screen and (max-width: 1280px) {
    #interaction-container {
    width: 1100px;
}
    #main-model {
    width: 550px;
    height: 550px;
    float: left;
}
    .texture-choices {
        width: 130px;
        height: 160px;
    }
    .texture-choices img {
        width: 115px;
    }
    .texture-choices p {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 880px) {
    #interaction-container {
    width: 800px;
}
    #main-model {
    width: 700px;
    height: 700px;
    float: left;
    margin-top: -200px;
    margin-left: 40px;
}
    #metal, #glass, #green-tea, #carpaint, #vegetation {
        margin-top: -75px;
    }
    
    
    .texture-choices {
        width: 130px;
        height: 160px;
        margin-left: 15px;
        margin-right: 15px;
        
    }
    
    #concrete {
        margin-left: 85px;
    }
    
    .texture-choices img {
        width: 115px;
    }
    .texture-choices p {
        margin-top: -10px;
    }
    
    .learn {
        padding-top: 70px;
    }
}