#interaction-container{
    height:400px;
    display:flex;
    justify-content: start;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 12%;
}

#typed{
    font-size: 8rem;
    transition:all 0.2s ease-in-out;
}

#typed:hover{
    color: darkgray;
    cursor: pointer;
}

.typed-cursor{
    font-size: 10rem;
}

@media only screen and (max-width: 880px) {
    
}

